<launch>
<!--   <node pkg ="unit_5_servers"
        type="square_action_client.py"
        name="square_action_client"
        output="screen">
  </node> -->
  <node pkg ="unit_5_servers"
        type="square_action_server.py"
        name="square_action_server"
        output="screen">
  </node>
</launch>